<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>学生管理平台</h1>

    <form>
        用户名:<input name="username" id="username"></br>
        <input type="button" value="邮箱找回密码" onclick="sendhref()">
        <input id="message"></br>
        </br>

    </form>


    <script src="/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" th:inline="javascript">

        function sendhref(){

            $.ajax({
                type: "POST",
                url: "regist/sendEmail",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data:JSON.stringify(
                    {
                        "username":$("#username").val()
                    }

                ),
                success: function (message) {
                    console.log(message);
                    $("#message").val(message);
                },
                error: function (message) {
                    console.error(message);
                }
            });
        }
    </script>
</body>
</html>